
// 1.0 BRAND COLOURS---------------------------

$brand-green    : green;
$brand-red      : red;
$brand-black    : lighten(black,5%);
$brand-white    : #e6e6e6;


// ----1.1. USING BRAND COLOURS-----------------

$c--primary     : $brand-green !default;
$c--secondary   : $brand-red !default;
$c--black       : $brand-black !default;
$c--white       : $brand-white !default;


// 2.0 BUTTONS----------------------------------

$buttons: (
  (
    
    /* Class name: */                    "primary",
    /* Background colour: */             $c--primary,
    /* Text colour: */                   #ffffff,

    /* HOVER -- background colour: */    darken($c--primary,10%),
    /* HOVER -- text colour: */          #FFFFFF
    
   ),
  (
    
    /* Class name: */                    "secondary",
    /* Background colour: */             $c--black,
    /* Text colour: */                   $c--white,

    /* HOVER -- background colour: */    $c--white,
    /* HOVER -- text colour: */          $c--black

   )
);

// 3.0 BUTTONS----------------------------------

$bg: (
  (
    
    /* Class name: */                    "red",
    /* Background colour: */             red,
    /* Text colour: */                   #000
    
   ),
  (
    
    /* Class name: */                    "warning",
    /* Background colour: */             #2F9ED8,
    /* Text colour: */                   #2886B7

   )
);


// 4.0 FONTS-----------------------------------

$font-base: 16px !default;
$font-sizes: (
    xs: .7em,
    sm: .9em,
    lg: 1.2em,
    xl: 1.4em,
    xxl: 1.7em
) !default;

$font-base--line-height: 19px !default;


$h1-base: 60px !default;
$h2-base: 48px !default;
$h3-base: 40px !default;
$h4-base: 30px !default;
$h5-base: 24px !default;

$header--line-height: 1.3em !default;


// 5.0 BREAKPOINTS-----------------------------

$xs: ( max:  767px )!default;
$sm: ( min:  768px )!default;
$md: ( min:  992px )!default;
$lg: ( min: 1200px )!default;
$xl: ( min: 1440px )!default;

$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 )!default;
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 )!default;
$lg-only: ( min: map-get($lg, min), max: map-get($xl, min) - 1 )!default;


// 6.0 Spacing---------------------------------

$max-width: 1040px !default;

$element-spacing:1.2rem !default;
$section-spacing:$element-spacing*2.5 !default;






